html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.flex {
  display: flex;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 640px;
}

.img-wrapper img {
  width: 75%;
  height: auto;
  margin: 0 auto;
}

/* 3 rows of 2 pictures */
@media screen and (min-width: 640px) {
  .img-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .img-wrapper img {
    max-width: 50%;
  }
}

/* 2 rows of 3 images */
@media screen and (min-width: 960px) {
  .img-wrapper {
    height: 100%;
  }
  .img-wrapper img {
    max-height: 30%;
    max-width: 30%;
  }
}
