html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.img-wrapper {
  max-width: 600px;
  margin: 5px;
}

.img-wrapper img {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .flex {
    background-color: blue;
  }

  .img-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  .img-wrapper img {
    width: 50%;
  }
}

@media screen and (min-width: 960px) {
  .flex {
    background-color: green;
  }

  .img-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .img-wrapper img {
    width: 30%;
  }
}
